<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  
  <providers embedded="KSM.DAO.Config.providers.config, KSM.DAO"/>
  
  <!-- Database connection information -->
  <database>

    <!-- ODBC를 사용할 경우 프로젝트를 x86으로 설정하고 처리-->
    <provider name="Odbc2.0"/>
    <dataSource name="KUMJUNG" connectionString="Driver={Microsoft ODBC for Oracle}; Server=KUMJUNG_DAO; uid=kumjung; pwd=kccipass2)!9"/>
    
    <!--<provider name="oracleClient1.0"/>-->
    <!--<dataSource name="oracle" connectionString="user id=kico; 
                data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP) (HOST=WIndowsAppServe) (PORT=1521)) (CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=XE)));
                pooling=false; password=1234qwer!;Unicode=True"/>-->
    <!--<dataSource name="oracle" connectionString="user id=kumjung; 
                data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP) (HOST=10.65.21.2) (PORT=1521)) (CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=KUM)));
                pooling=false; password=kccipass2)!9;Unicode=True"/>-->
  </database>

  <sqlMaps>
    <sqlMap embedded="KSM.DAO.Mappers.Select_sql.xml, KSM.DAO" />
    <sqlMap embedded="KSM.DAO.Mappers.Insert_sql.xml, KSM.DAO" />
  </sqlMaps>

</sqlMapConfig>